.navbar {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEDAA;
}

.navbar.pink {
    background-color: #f288b4af; /* Change background color to pink when .pink class is present */
}


.navbar.yellow {
    background-color: #ddc678ba; /* Change background color to pink when .pink class is present */
}

.navbar.green{
    background-color: #dd7878b4;
}

.navbar .logo {
    width: 200px;
}

.navbar.lightgreen{
    background-color: #72d3b6b3;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-menu li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    color: white;
    position: absolute;
    border-radius: 50px;
    top: 0px;
    right: -8px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;

}

.navbar-right img {
    width: 40px;
    height: 40px;
}


.logout-button{
    cursor: pointer;
}